body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
.App {
  border: solid gainsboro;
  border-width: 0px 2px;
  width: 600px;
  height: 425px;
  overflow-y: scroll;
  position: relative;
}
.chat-messages {
  display: flex;
  flex-direction: column;
}
.chat-header {
  z-index: 1;
  margin-top: 10px;
  padding: 3px;
  color: gainsboro;
  border: solid gainsboro;
  border-width: 2px 2px 0px 2px;
  background-color: dodgerblue;
}
.chat-footer {
  z-index: 1;
  background-color: #e6e7ec;
  border: solid gainsboro;
  border-width: 0px 2px 2px 2px;
  position: fixed;
  margin-bottom: 18px;
  bottom: 0;
  width: 600px;
}
.form {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control {
  flex: 1;
}
.icon-button {
  flex: 0;
}
.message {
  color: black;
  background-color: #e6e7ec;
  border-radius: 25px;
  padding: 10px 20px 3px;
  /* margin: 12px auto; */
  width: fit-content;
  margin: 12px;
}
.my-message {
  background-color: dodgerblue;
  color: #e6e7ec;
  margin-left: auto;
}

/*
=============== 
Variables
===============
*/

:root {
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --spacing: 0.1rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@media screen and (max-width: 620px) {
  .app {
    width: 400px;
  }
  .chat-footer {
    width: 400px;
    /* margin-bottom: 2px; */
  }
}
